/* styles.css */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4d03f;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .container{
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    overflow: hidden;
    font-size: 14px;
    padding: 18px;
    border: 8px solid #000; 
    border-left: none;     
    border-top: none;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
  }
  
  .learning {
    background-color: #f1c40f;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
    border: none;
  }
  
  .published {
    color: #000000;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .titulo {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .language{
    font-size: 13px;
    color: #5f5757;
    line-height: 20px;
  }
  
  .autor {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  .nombre {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
  }